# binnary files
bin/genomeutils
bin/hmmibd-rs
bin/ibdutils

# rust projects
hmmibd-rs/
ishare/

# intermediate files
input/Pf7_fws.txt

# raw vcf files
input/Pf7_vcf/

# prefilt bcf 
input/Pf7_filt.bcf
input/Pf7_filt.bcf.csi
input/Pf7_filt.bcf.stats.txt

# reference genome
input/refgenome/



